.forecastCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background: var(--background);
}

.forecastCard img {
  transform: translateX(-6px) scale(0.55);
  margin: -3rem -2rem -2rem;
}

.tempBar {
  display: flex;
  justify-content: space-around;
  width: 6rem;
}

.tempBar p:nth-child(2) {
  color: var(--primarytwo);
}