.drawer {
  position: absolute;
  display: none;
  background: var(--graybox);
  z-index: 4;
  left: 0;
  top: 0;
  height: var(--drawerHeight);
  width: var(--drawerWidth);
}

.drawerShow {
  display: initial;
}