.App {
  background: var(--backgrounddark);
  height: 100vh;
  border: none;
  position: relative;
  top: 0;

}





footer {
  margin: 2rem auto;
  font-family: 'Poppins';
  color: var(--primarytwo);
}
footer span {
  text-decoration: underline;
  font-weight: 600;
}