.App {
  background: var(--backgrounddark);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .spacer {
  width: 6vw;
} */

.lgContainer {
  background: var(--backgrounddark);
  display: flex;
  flex-direction: column;
}

footer {
  margin: 2rem auto;
  font-family: 'Roboto';
  color: var(--primarytwo);
}

footer span {
  text-decoration: underline;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .App {
    flex-direction: row;
  }
}
